.Primary{
color: #0088ce;
}
.accent{
 color: #44ae30;   
}
.Success-color { color: #00FF00;
}
.Warning-color { color: #FF4500;
}
.Danger-color { color: #FF0000;
}
.Info-color { color: #30d3df;
}
.bg-primary{ background-color: #000000;
}